/*Risoluzione Schermo 1920x1080*/

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #ffc017;
    border-bottom: 1px solid black;
}

#noScroll {
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.noScroll div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    border-bottom: 1px solid black;

}

nav {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    align-content: baseline;

}

a {
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 10px;
}

a:hover,
a:visited {
    color: black;
}

.blackButton {
    color: white;
    background-color: black;
    border-radius: 75px;
    max-width: 220px;
    padding: 10px;

    text-align: center;
    font-weight: 500;
}

#secondButton {
    margin: 2.8rem 0 2.8rem 0;
}

#secondButton a {
    font-size: 22px;
}

.blackButton a {
    color: white !important;
}

#mottoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 40%;
    padding-left: 6.5%;
}

#mottoContainer p {
    max-width: 80%;
    font-size: 28px;
    margin: 0;
}

#motto {
    margin: 0;
    letter-spacing: -0.09em;
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7.8rem;
}

svg {
    transform: scale(0.4);
}


#secondRow {
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
}

.inline {
    display: flex;
    flex-direction: row;
}

main {
    background-color: #FFFFFF;
    padding: 50px;
}

.positioner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#articleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.3rem;
    align-items: baseline;
    justify-content: space-between;
}

#sectionTitle {
    margin-bottom: 0;
}

.article {
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    max-width: 25%;
    transform: scale(1.1);
}


.articleNumber p {
    margin-top: 0;
    font-size: 2.2rem;
    color: #8b8b8b;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    border-radius: 100%;
    transform: scale(0.7);
}

.authorsName {
    font-size: 1.1rem;
    font-weight: bold;
}

.articleBottom {
    display: flex;
    justify-content: space-between;
    color: #8b8b8b;
}

#secondSection {
    display: flex;
}

#secondHalf {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.relatedArticle {
    display: flex;
    align-items: center;
    padding-left: 2.8rem;
    gap: 30px;
    margin: 1rem;
}

.largeArticle {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.articleTitle h3 {
    font-size: 1.4rem;
}

.articleTitle p {
    font-size: 1.1rem;
    color: #8b8b8b;
}


.esplicativePic img {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
}

#endPart {
    max-width: 30%;
    display: flex;
    flex-direction: row;
}

#endPart h4 {
    text-align: center;
}

#boxOfBoxes {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

#boxOfBoxes div {
    border: 1px solid #8b8b8b;
    padding: 12px 16px 12px 16px;
    color: #8b8b8b;
}

.tags span {
    padding: 7px;
    border-radius: 65px;
   background-color: #f2f2f2;
}

#unorderedList {
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-top: 1px solid #8b8b8b;
    color: #8b8b8b;
    padding: 1rem;
    align-items: flex-start;
    list-style: none;
}

#unorderedList li {
    margin: 0.8rem;
}