<div class="container-fluid bg-dark mt-5 text-light">
    <div class="row">
        <div class="col-4 text-center mt-2">
            <img src="https://cdn.discordapp.com/attachments/1196818563139383437/1220646473310404639/logo.png?ex=660fb29d&is=65fd3d9d&hm=8a105faf9250394dba3767f92678168d041002d4eb2f67e41c02f4bd4b824058&">
            <h5>Il tuo autosalone di fiducia</h5>
            <address>
                Via Tal dei Tali 69<br>
                00100 Assemini<br>
                01124567845<br>
                info@autorent.auto
            </address>
        </div>
        <div class="col-4 d-flex justify-content-around align-items-center">
            <a [routerLink]="['/']" class="menu-footer">Home</a> |
            <a [routerLink]="['/ford']" routerLinkActive="router-link-active" class="menu-footer">Ford</a> |
            <a [routerLink]="['/fiat']" routerLinkActive="router-link-active" class="menu-footer">Fiat</a> |
            <a [routerLink]="['/audi']" routerLinkActive="router-link-active" class="menu-footer">Audi</a>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            <p>
                Sopra la panca la capra canta, sotto la panca la capra crepa, con Apollo che fece una palla di pelle di pollo e addirittura tutti i pesci vennero a galla per vedere la palla di pelle di pollo fatta da Apelle figlio di Apollo.
            </p>
        </div>
    </div>
</div>